<template>
  <div id="app">
    <pi-date-picker :more="more" @onConfirm="config"/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      more: true,
    }
  },
  components: {
  },
  methods: {
    config(value) {
      alert(value)
    }
  }
}
</script>

<style lang="less">
</style>
